<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartmanagertwo">
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartManagerTwo">
        <activity
            android:name=".Main2Activity"
            android:exported="true"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.SmartManagerTwo.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.muctieutietkiem.packages.MucTieuChiTiet_TamDung"
            android:exported="true" />
        <activity
            android:name="com.example.muctieutietkiem.packages.TaoMucTieuChiTiet"
            android:exported="true" />
        <activity
            android:name="com.example.muctieutietkiem.packages.EditMucTieuHoatDong"
            android:exported="true" />
        <activity
            android:name="com.example.muctieutietkiem.packages.TaoMucTieu"
            android:exported="true" />
        <activity
            android:name="com.example.muctieutietkiem.packages.MucTieuChiTiet"
            android:exported="true"></activity>

        <activity android:name=".TaiKhoanSuaChiTiet" />
        <activity
            android:name=".TaiKhoanChiTietActivity"
            android:exported="true" />
        <activity
            android:name="com.example.caidatmatkhau.MatKhauOff"
            android:exported="true" />
        <activity
            android:name="com.example.caidatmatkhau.MatKhauChange"
            android:exported="true" />
        <activity
            android:name=".ThuChiThemMoi"
            android:exported="true" />

        <activity
            android:name=".ThongKeChiTietActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ThuChiChinhSua"
            android:exported="true"></activity>

        <activity
            android:name="com.example.KeHoachMuaSam.DanhSachMuaSamThem"
            android:exported="true" />
        <activity
            android:name="com.example.KeHoachMuaSam.DanhSachMuaSamChiTiet"
            android:exported="true"></activity>
        <activity
            android:name=".TaiKhoanChinhSua"
            android:exported="true"></activity><![CDATA[
        >
        ]]>
        <activity
            android:name=".MainActivity"
            android:exported="true"></activity>
        <activity
            android:name=".CaiDatThongTinAppChinhSach"
            android:exported="true" />

        <activity
            android:name=".CaiDatTroGiupNew"
            android:exported="true" />
        <activity
            android:name=".NhacNhoChiTietActivity"
            android:exported="true" />
        <activity
            android:name=".NhacNhoThemActivity"
            android:exported="true" />
        <activity android:name="com.example.tintuc.KetNoiTinTucChiTiet"
            android:exported="true"></activity>
    </application>

</manifest>